<h1>Show Post #<%= @post.id %></h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @post.name %>
  </li>

  <li>
    <strong>Date:</strong>
    <%= @post.date %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @post.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
