[Unit]
Description=HW07; Events App 1

[Service]
Type=simple
User=events
Group=events
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4798
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/events/webdevhw7/events_dev
ExecStart=/bin/bash /home/events/webdevhw7/events_dev/start.sh

[Install]
WantedBy=multi-user.target
